body {
    max-width: 800px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.add_form {
    display: flex;
    flex-direction: row;
}

.input_form {
    width: 100%;
    padding-block: 8px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

button {
    margin-inline-start: 46px;
    padding-block: 8px;
    padding-inline: 16px;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
    margin-block-start: 32px;
}

.list-todo {
    margin-inline-start: 32px;
}

.completed {
    text-decoration: line-through;
}