body {
    max-width: 800px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    background-color: #fffffe;
    color: #2e2e2e;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px pink;
    color: #181818;
}

#root {
    background-color: aliceblue;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px lightgrey;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: darkblue;
    font-weight: bolder;
}

.add_form {
    display: flex;
    flex-direction: row;
    margin-block-start: 46px;
}

.input_form {
    width: 100%;
    padding-block: 16px;
    border-radius: 8px;
    border: 1px solid lightgray;
    background-color: whitesmoke;
}

button {
    margin-inline-start: 46px;
    padding-block: 16px;
    padding-inline: 32px;
    border-radius: 8px;
    border: none;
    background-color: #4fc4cf;
    color: #181818;
    text-transform: uppercase;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
    margin-block-start: 32px;
}

.list-todo {
    margin-inline-start: 32px;
}

.completed {
    text-decoration: line-through;
    margin-inline-start: 32px;
}

.delete {
    background-color: transparent;
    border: none;
    margin-block-start: -16px;
}